table,
td {
  border: 1px solid black;
}

td {
  width: 2rem;
  height: 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.black {
  background-color: black;
}
