table,
td {
  border: 1px solid black;
}

td {
  width: 2rem;
  height: 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-template-columns: 1fr;
}

.black {
  background-color: black;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}
